body {
  margin:0;
  font-family: 'Poppins', sans-serif;
  background:#F5F7FB;
}

.loginPage{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#2A7FFF,#00C6A7);
}

.loginCard{
  width:350px;
  padding:40px;
  background:white;
  border-radius:15px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.loginCard h1{
  margin-bottom:5px;
}

.loginCard p{
  color:#666;
}

.loginCard input{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:14px;
}

.loginCard button{
  width:100%;
  padding:12px;
  margin-top:20px;
  background:#2A7FFF;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.loginCard button:hover{
  background:#1d5edb;
}

.loginCard a{
  color:#2A7FFF;
  text-decoration:none;
}